/* .drag-drop-wrapper {
    background-color: #caf7e3;
    width: auto;
    border: #0a81ab 2px dotted;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
} */

.drag-drop-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.drag-drop-input {
    padding: 30px;
    background-color: aliceblue;
    border: #0a81ab 2px dotted;
    border-radius: 10px;
    transition: all 0.3s;
}

.drag-drop-input:hover {
    background-color: #caf7e3;
    cursor: pointer;
}

.button {
    margin: 5px;
}

.patient-card-wrapper {
    background-color: azure;
    height: 50px;
    border-radius: 5px;
    margin: 5px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 2px 2px 0 rgba(0, 0, 0, 0.1);
}

.table-image-container {
    height: 70px;
    width: auto;
    border-radius: 5px;
}
